.gridContainer {
  width: 100%;
  max-width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px;
  overflow: hidden;
}

.gridItem {
  position: relative;
  height: max-content;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .image {
  width: 100%;
  object-fit: contain;
  display: block;
} */

/* Fill container without distortion */
/* Maintain consistent aspect ratio */
.image {
  object-fit: cover;
  /* aspect-ratio: 16/9; */
  display: block;
  width: 100%;
  height: auto;
}

/* Adjust sizes based on the eventName */
.gridItem.weddings .image {
  /* height: 300px; */
}

.gridItem.venues .image {
  /* height: 200px; */
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.eventName {
  margin: 0;
  color: #ffffff;
}

.titleNDate {
  font-size: 12px;
  color: #f2f2f2;
}
