@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*,
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato";
}

.expandable-body {
  height: 0px;
  overflow: hidden;
  transition: 0.3s ease;
  margin-bottom: 1rem;
  line-height: 1.6;
}
.expandable-body.expand {
  height: auto;
  margin-top: 0.8rem;
}
.expandable {
  transition: 0.3s ease;
  border-bottom: 1px solid #757575;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  padding: 1px;
}

.expandable-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
}
.home {
  margin-top: 65px;
}
.expandable-header > div {
  flex-basis: 100px;
}
.expandable-header .icon {
  margin-left: 1rem;
  flex-shrink: 0;
}
.answer {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.listing {
  list-style-type: decimal;
  margin-left: 15px;
}
.expandable-body ol li {
  line-height: 20px;
  margin: 20px 0;
}

.slick-prev:before,
.slick-next:before {
  padding: 25px;
  border-radius: 90px;
  background: white;
  border: 1px;
  color: #005f61 !important;
  box-shadow: 4px 4px 40px 0px #005f611a;
  box-shadow: -4px -4px 40px 0px #005f611a;
}

.slick-prev {
  left: -18px !important;
  z-index: 10 !important;
}

.slick-next {
  right: 8px !important;
}

.slick-dots {
  bottom: -60px;
}

.slick-active button::before {
  color: #005f61 !important;
  font-size: 20px !important;
}
